<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>test2</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>quest_receivables_table_data</servlet-name>
    <servlet-class>sqlmanage.quest_receivables_table_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quest_receivables_table_data</servlet-name>
    <url-pattern>/ajax/quest_receivables_table_data</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>quest_payment_table_data</servlet-name>
    <servlet-class>sqlmanage.quest_payment_table_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quest_payment_table_data</servlet-name>
    <url-pattern>/ajax/quest_payment_table_data</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>quest_delivery_amount_data</servlet-name>
    <servlet-class>sqlmanage.quest_delivery_amount_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quest_delivery_amount_data</servlet-name>
    <url-pattern>/ajax/quest_delivery_amount_data</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>quest_discharge_amount_data</servlet-name>
    <servlet-class>sqlmanage.quest_discharge_amount_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quest_discharge_amount_data</servlet-name>
    <url-pattern>/ajax/quest_discharge_amount_data</url-pattern>
  </servlet-mapping>
   <servlet>
    <servlet-name>Auth2</servlet-name>
    <servlet-class>auth.Auth2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Auth2</servlet-name>
    <url-pattern>/ajax/Auth2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>allocate_table_data</servlet-name>
    <servlet-class>sqlmanage.allocate_table_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>allocate_table_data</servlet-name>
    <url-pattern>/ajax/allocate_table_data</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>associate_data</servlet-name>
    <servlet-class>sqlmanage.associate_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>associate_data</servlet-name>
    <url-pattern>/ajax/associate_data</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>associate_table_data_purchase</servlet-name>
    <servlet-class>sqlmanage.associate_table_data_purchase</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>associate_table_data_purchase</servlet-name>
    <url-pattern>/ajax/associate_table_data_purchase</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>associate_table_data_sale</servlet-name>
    <servlet-class>sqlmanage.associate_table_data_sale</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>associate_table_data_sale</servlet-name>
    <url-pattern>/ajax/associate_table_data_sale</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insert_allocate_data</servlet-name>
    <servlet-class>sqlmanage.insert_allocate_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert_allocate_data</servlet-name>
    <url-pattern>/ajax/insert_allocate_data</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insert_delivery_data</servlet-name>
    <servlet-class>sqlmanage.insert_delivery_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert_delivery_data</servlet-name>
    <url-pattern>/ajax/insert_delivery_data</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>insert_discharge_data</servlet-name>
    <servlet-class>sqlmanage.insert_discharge_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert_discharge_data</servlet-name>
    <url-pattern>/ajax/insert_discharge_data</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>insert_pay_data</servlet-name>
    <servlet-class>sqlmanage.insert_pay_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert_pay_data</servlet-name>
    <url-pattern>/ajax/insert_pay_data</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>insert_purchase_order_data</servlet-name>
    <servlet-class>sqlmanage.insert_purchase_order_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert_purchase_order_data</servlet-name>
    <url-pattern>/ajax/insert_purchase_order_data</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>insert_receive_data</servlet-name>
    <servlet-class>sqlmanage.insert_receive_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert_receive_data</servlet-name>
    <url-pattern>/ajax/insert_receive_data</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>insert_sale_order_data</servlet-name>
    <servlet-class>sqlmanage.insert_sale_order_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insert_sale_order_data</servlet-name>
    <url-pattern>/ajax/insert_sale_order_data</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>pay_table_data</servlet-name>
    <servlet-class>sqlmanage.pay_table_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pay_table_data</servlet-name>
    <url-pattern>/ajax/pay_table_data</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>quest_allocate_data</servlet-name>
    <servlet-class>sqlmanage.quest_allocate_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quest_allocate_data</servlet-name>
    <url-pattern>/ajax/quest_allocate_data</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>quest_delivery_data</servlet-name>
    <servlet-class>sqlmanage.quest_delivery_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quest_delivery_data</servlet-name>
    <url-pattern>/ajax/quest_delivery_data</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>quest_discharge_data</servlet-name>
    <servlet-class>sqlmanage.quest_discharge_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quest_discharge_data</servlet-name>
    <url-pattern>/ajax/quest_discharge_data</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>quest_loss_data</servlet-name>
    <servlet-class>sqlmanage.quest_loss_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quest_loss_data</servlet-name>
    <url-pattern>/ajax/quest_loss_data</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>quest_purchase_order_data</servlet-name>
    <servlet-class>sqlmanage.quest_purchase_order_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quest_purchase_order_data</servlet-name>
    <url-pattern>/ajax/quest_purchase_order_data</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>quest_sale_order_data</servlet-name>
    <servlet-class>sqlmanage.quest_sale_order_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>quest_sale_order_data</servlet-name>
    <url-pattern>/ajax/quest_sale_order_data</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>receive_table_data</servlet-name>
    <servlet-class>sqlmanage.receive_table_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>receive_table_data</servlet-name>
    <url-pattern>/ajax/receive_table_data</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>sqlmanage.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/ajax/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>validationCode</servlet-name>
    <servlet-class>sqlmanage.ValidationCode</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validationCode</servlet-name>
    <url-pattern>/ajax/validationCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>delete_name_data</servlet-name>
    <servlet-class>sqlmanage.delete_name_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>delete_name_data</servlet-name>
    <url-pattern>/ajax/delete_name_data</url-pattern>
  </servlet-mapping>  <servlet>
  <servlet-name>insert_name_data</servlet-name>
  <servlet-class>sqlmanage.insert_name_data</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>insert_name_data</servlet-name>
    <url-pattern>/ajax/insert_name_data</url-pattern>
  </servlet-mapping>  <servlet>
  <servlet-name>quest_name_data</servlet-name>
  <servlet-class>sqlmanage.quest_name_data</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>quest_name_data</servlet-name>
    <url-pattern>/ajax/quest_name_data</url-pattern>
  </servlet-mapping>
</web-app>